@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  color: white;
}

.section-title h1 {
  font-size: 4rem;
  display: inline;
  cursor: pointer;
}

.section-title h1:hover {
  color: #d3ad7f;
}

/* header starts*/

.content {
  padding-left: 9%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 2;
}

.header .logo img {
  height: 10rem;
}

.header .navbar #close {
  display: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
}

.header .navbar a {
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.header .navbar a:hover {
  color: #d3ad7f;
}

.header #menu {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}

/* eader ends */

/* home starts */

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 650px;
  align-items: center;
  justify-content: center;
  background: #2a201c;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content .title {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content .title span {
  text-transform: uppercase;
  color: #d3ad7f;
}

.home .content .description {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #fff;
}

.home .content .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #d3ad7f;
  cursor: pointer;
}

.home .content .btn:hover {
  letter-spacing: 0.2rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

/* home ends */

/* about starts */
.about {
  background-color: #2a201c;
  padding: 2rem;
}

.about-container {
  margin: 0 150px;
  padding: 1rem;
  background-color: #43342e;
  border-radius: 2rem;
}

.about .image-about img {
  width: 600px;
  padding: 12 23px;
  opacity: 65%;
  border-radius: 0.6rem;
}

.about .about-content {
  color: white;
}

.about .about-content h1 {
  font-size: 2.5rem;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  text-align: center;
}

.about-items {
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 0.7rem;
  background-color: rgb(18, 148, 70);
  cursor: pointer;
}

.about-items:hover {
  background-color: rgb(12, 105, 49);
}

.about-items h2 {
  font-size: 2rem;
  color: rgb(247, 247, 112);
}
.about-items p {
  font-size: 1.4rem;
}

/* about ends */

/* menu starts */
#menu {
  background-color: #2a201c;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  background-color: #43342e;
  border-radius: 2rem;
  margin: 1rem 2rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.menu-items:hover {
  background-color: #5c4941;
}

.menu-items p:hover {
  color: #d3ad7f;
}
.menu-items .items-img {
  height: 300px;
  margin: 2rem;
  border-radius: 2rem;
}

.menu-items p {
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

/* menu end */

/* locations starts */

#locations {
  background-color: #2a201c;
}

.location-para p {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.city-items {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 1.9rem;
  margin: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.city-items:hover {
  color: rgb(208, 228, 152);
}

.city-items p {
  margin: 3rem;
  text-align: center;
}

.red {
  background-color: rgb(243, 49, 49);
}

.blue {
  background-color: rgb(69, 136, 236);
}

.yellow {
  background-color: rgb(114, 114, 14);
}

.purple {
  background-color: rgb(161, 49, 230);
}

.green {
  background-color: rgb(32, 191, 32);
}

/* locations end */

/* contact starts */

.contact {
  background-color: #2a201c;
}

.contact-container {
  max-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.contact-form {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.form-group input,
.form-group textarea {
  width: 50%;
  padding: 10px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #5c4941;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2.5rem;
}

button:hover {
  background-color: #513e35;
}

/*  contact end */

/* footer starts */
footer {
  background-color: #231515;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5rem;
}

.follow,
.quick-links,
.copyright {
  flex: 1;
  margin: 10px;
}

.social-icons img {
  width: 40px;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* footer ends */

/* Responsive */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    transition: 0.5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar #close {
    display: block;
  }

  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .home .content {
    padding-top: 9.5rem;
  }

  .home .image img {
    width: 368px;
  }

  .home .content .title {
    font-size: 4rem;
  }

  .home .content .description {
    font-size: 1.6rem;
  }

  .about-container {
    margin: 0 550px;
    padding: 1rem;
    background-color: #43342e;
    border-radius: 2rem;
  }

  .about-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .about-container {
    background-color: transparent; /* Remove background color to allow it to stretch full width */
    padding: 0; /* Remove padding */
    border-radius: 0; /* Remove border radius */
  }

  .about .about-title {
    font-size: 2.5rem;
  }

  .about .image-about img {
    max-width: 100%;
    border-radius: 0;
  }

  .about-content {
    text-align: left; /* Adjust text alignment */
  }
}

@media screen and (max-width: 600px) {
  .conatct-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .about-title {
    font-size: 2rem;
  }

  .about-items h2 {
    font-size: 1.8rem;
  }

  .about-items p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 340px) {
  .city-items p {
    margin: 0.5rem;
  }
}
